.flex-cantainer-parnt{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    top:  235px;
    left: 566px;
    right: 566px;
    flex-direction: column;
    background-color: aliceblue;
    height: 385px;
    width: 275px;
    border-radius: 12px;
}
.name{
    padding: 5px;
    margin: 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
}
.button{
    border: none;
    background-color: green;
    height: 25px;
    width: 265px;
    color: white;
    margin: 5px;
    cursor: pointer;
}
.heading-1{
    font-size: 25px;
    margin: 5px;
    text-transform: capitalize;
}
.heading-2{
    margin-left:0 ;
    margin-top: 8px;
    text-transform: capitalize;
}
.name-1{
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid grey;    
}
.last{
    font-size: 10px;
    text-align: center;
}
input.name-1::placeholder{
    
    position: relative;
    bottom: 38px;
}