.flex-cantainer-parnt{
    border: 2px solid black;
    display: flex;
    padding: 15px;
    position: relative;
    top: 600px;
    left: 50%;
    flex-direction: column;
    background-color: aliceblue;
    height: 240px;
    width: 200px;

}